<form action="" method="post">
<fieldset>
    <legend>Accountgegevens</legend>    
<div>
    <label for="firstname">Voornaam <span>*</span></label>
     <input type="text" name="firstname" id="firstname" required="required" />
</div>
<div>
    <label for="firstname">Familienaam <span>*</span></label>
     <input type="text" name="lastname" id="lastname" required="required" />
</div>
<div>
    <label for="email">Email <span>*</span></label>
    <input type="email" name="email" id="email" required=required />
</div>
<div>
    <label for="password1">Paswoord <span>*</span></label>
    <input type=<input type="password" name="password1" id="password1" required=required />
</div>
<div>
    <label for="password2">Bevestig paswoord <span>*</span></label>
    <input type=<input type="password" name="password2" id="password1" required=required />
</div>
</fieldset>

<fieldset>
    <legend>Adresgegevens</legend>
<div>
    <label for="addres1">Adres 1 <span>*</span></label>
     <input type="text" name="addres1" id="addres1" required="required" />
</div>

    <label for="addres2">Adres 2</label>
     <input type="text" name="addres2" id="addres2" />
</div>
<div>
    <label for="postalcode">Postcode <span>*</span></label>
     <input type="number" name="postalcode" id="postalcode" required="required" />
</div>
<div>
    <label for="city">Stad <span>*</span></label>
     <input type="text" name="city" id="city" required="required" />
</div>
<div>
    <label for="countryCode">Land <span>*</span></label>
     <input type="text" name="countryCode" id="countryCode" required="required" />
</div>
</fieldset>

<fieldset>
    <legend>Persoonlijke gegevens</legend>
<div>
    <label for="gsm">GSM </label>
     <input type="text" name="gsm" id="gsm" />
</div>
<div>
    <label for="birthday">Geboortedatum </label>
     <input type="date" name="birthday" id="birthday" />
</div>
<div>
    <label for="satisfied">Hoe tevreden ben je? </label>
     <input type="range" name="satisfied" id="satisfied" />
</div>
<div>
    <label for="sex">Male </label>
     <input type="radio" name="sex" id="male" value="male"/>
     <label for="sex">Female </label>
     <input type="radio" name="sex" id="female" value="female"/>
     <label for="sex">Onbekend </label>
     <input type="radio" name="sex" id="unknown" value="unknown"/>
</div>
<div>
    <label for="faculty">Kies een afdeling</label>
    <select name="faculty" id="faculty" size=1>
        <option value="cvohoboken">CVO Hoboken</option>
        <option value="cvodeurne">CVO Deurne</option>
    </select>
</div>
<div>
    <label for="modules">Kies een module</label>
    <select name="modules" id="faculty" size=1>
        <option value="programmeren4">PHP</option>
        <option value="programmeren5">JavaScript</option>
    </select>
</div>
</fieldset>

<div>
    <input type="submit" value="Verzenden" name="submit">
</div>
</form>